<!--note that this is superfluous -- our redirect_to in pictures_controller for delete_photo already redirects the user back to the main page-->

<h1>You deleted a photo!</h1>

<p>
    There are now <%= @new_num_photos %> photos.
</p>

<a href = "/photos">Click here</a> to go back.