<!--note that this is superfluous -- our redirect_to in pictures_controller for edit_photo_form already redirects the user back to the main page-->

<h1>You updated a photo!</h1>

<a href = "/photos/<%= @edit_photo_id %>">Click here</a> to check it out.