<h1>Add a new photo</h1>

<form action = "/create_photo">
    
    <!--specifies what input the label is for-->
    <label for = "img_url">
        Image URL
    </label>
    
    <!--the user input goes here, the variable name that gets passed through is new_img_url-->
    <input id = "img_url" type = "text" name = "new_img_url">
    
    <br>
    
    <label for = "caption">
        Caption
    </label>
    
    <input id = "caption" type = "text" name = "new_caption">
    
    <br>
    
    <button>Create Photo</button>
    
</form>